body {
    font-family: 'Roboto', sans-serif; 
    background-color: rgb(243, 174, 222);
    margin: 0;
}

header {
    background-color: rgba(223, 147, 166, 0.8);
    padding: 1rem; 
    margin-bottom: 22px; 
}

.buscar {
    position: relative;
    padding: 5px;
    display: flex;
    margin-left: -600px; 
    }


.buscar input {
    width: 0;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn {
    width: 55px;
    height: 55px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background:  #641838;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input {
    width: 240px;
}

.buscar input:focus {
    width: 240px;
}

nav {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}

.logo {
    margin-right: 20px; 
}

ul {
    display: flex; 
    padding: 0; 
    list-style: none; 
}

ul li {
    margin: 0 10px; 
}

a {
    text-decoration: none;
    color: white; 
    padding: 5px 10px; 
    transition: color 0.3s; 
}

a:hover {
    color: #641838; 
}


.position {
    position: relative;
    right: 250px; 
}

.bg-black {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    transition: transform 0.3s;
}

.bg-black:hover {
    transform: scale(1.05);
}

img {
    border-radius: 8px; 
}

.flex-wrap {
    gap: 16px; 
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0; 
}

footer a {
    color: gray; 
    margin: 0 10px; 
}

footer a:hover {
    color: white; 
}


